doctype html
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(http-equiv="X-UA-Compatible", content="IE=edge")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          link(rel="stylesheet", href="loginstyle.css")
          title Login
     body 
      .container
         .item 
            h1 LOGIN 
            form(action="/login", method="post") 
                label(class='text') Username 
                input(type="email" class="design" name="email" ) 
                label(class='text') Password  
                input(type="password" class="design" name="password")
                button(type="submit" class='btn') LOG IN
                p(class='signup') Not a member? 
                      a(href="/registration") SIGN UP